body {
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.about-me, .education, .experience, .projects, .skills {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
button{
    grid-area: auto;
    color: #007bff;
}